<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Battle of the Blocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCA162BE1D1AF3410048F2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA162D61D1AF3420048F2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA162E11D1AF3420048F2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
